<!DOCTYPE HTML>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="default">
<head>
    <title>Create Server Object</title>
</head>
<body>
<div layout:fragment="content" class="row">
    <div class="col-xs-8 col-md-8">
        <h3>
            <a href="/server" class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-list"></span>Server</a>
        </h3>
        <h2>Create Product</h2>
        <form action="/save">
            <div class="form-group">
                <label for="email">Name</label>
                <input type="text" class="form-control" name="name" />
            </div>
            <div class="form-group">
                <label for="email">Language</label>
                <input type="text" class="form-control" name="language" />
            </div>
            <div class="form-group">
                <label for="email">Framework</label>
                <input type="text" class="form-control" name="framework" />
            </div>

            <button type="submit" class="btn btn-success">Save</button>
        </form>
    </div>
</div>
</body>
</html>
