<!DOCTYPE HTML>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="default">
<head>
    <title>Server List</title>
</head>
<body>
<div layout:fragment="content" class="row">
    <div class="col-xs-8 col-md-8">
        <h3>
            <a href="/create" class="btn btn-primary"><span class="glyphicon glyphicon-plus-sign"></span>Server</a>
        </h3>
        <h2>Server List</h2>
        <div class="table-responsive">
            <table class="table" id="product-table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Id</th>
                    <th>Language</th>
                    <th>Framework</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="server : ${servers}">
                    <td><a th:text="${server.name}" th:href="@{'/show/' + ${server.id}}"></a></td>
                    <td th:text="${server.id}"></td>
                    <td th:text="${server.language}"></td>
                    <td th:text="${server.framework}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
